/* ----------------------------------------------------------------
        Sticky Header
-----------------------------------------------------------------*/

#header,
#header-wrap,
#logo img {
    -webkit-transition: height .4s ease, opacity .3s ease;
    -o-transition: height .4s ease, opacity .3s ease;
    transition: height .4s ease, opacity .3s ease;
}

#header.sticky-style-2 { height: 161px; }

#header.sticky-style-3 { height: 181px; }

#header.sticky-style-2 #header-wrap { height: 60px; }

#header.sticky-style-3 #header-wrap { height: 80px; }

#primary-menu > ul > li > ul,
#primary-menu > ul > li > .mega-menu-content,
#primary-menu > ul > li.mega-menu > .mega-menu-content {
    -webkit-transition: top .4s ease;
    -o-transition: top .4s ease;
    transition: top .4s ease;
}

#top-search,
#top-cart {
    -webkit-transition: margin .4s ease, opacity .3s ease;
    -o-transition: margin .4s ease, opacity .3s ease;
    transition: margin .4s ease, opacity .3s ease;
}

body:not(.top-search-open) #header-wrap #logo,
body:not(.top-search-open) #primary-menu > ul,
body:not(.top-search-open) #primary-menu > .container > ul,
body:not(.top-search-open) #top-cart,
body:not(.top-search-open) #side-panel-trigger,
body:not(.top-search-open) #top-account {
    opacity: 1;
    -webkit-transition: height .4s ease, margin .4s ease, opacity .2s .2s ease;
    -o-transition: height .4s ease, margin .4s ease, opacity .2s .2s ease;
    transition: height .4s ease, margin .4s ease, opacity .2s .2s ease;
}

body.top-search-open #header-wrap #logo,
body.top-search-open #primary-menu > ul,
body.top-search-open #primary-menu > .container > ul,
body.top-search-open #top-cart,
body.top-search-open #side-panel-trigger,
body.top-search-open #top-account { opacity: 0; }

#header.sticky-header.semi-transparent { background-color: transparent; }

#header-wrap {
    position: relative;
    z-index: 199;
    -webkit-backface-visibility: hidden;
}

#header.sticky-header #header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#header.semi-transparent.sticky-header #header-wrap { background-color: rgba(255,255,255,0.8) }

#header.sticky-header:not(.static-sticky),
#header.sticky-header:not(.static-sticky) #header-wrap,
#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img { height: 60px; }

#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
    padding-top: 19px;
    padding-bottom: 19px;
    color: #000!important;
}

#header.sticky-header:not(.static-sticky).sticky-style-2,
#header.sticky-header:not(.static-sticky).sticky-style-3 { height: 161px; }

#header.sticky-header:not(.static-sticky).sticky-style-2 #primary-menu,
#header.sticky-header:not(.static-sticky).sticky-style-3 #primary-menu { border-top: 0; }

#header.sticky-header:not(.static-sticky) #top-search,
#header.sticky-header:not(.static-sticky) .topbar-right,
#header.sticky-header:not(.static-sticky) #top-cart,
#header.sticky-header:not(.static-sticky) #side-panel-trigger {
    color: #000!important;
    height: 60px;
    -webkit-transition: margin .4s ease, opacity .3s ease;
    -o-transition: margin .4s ease, opacity .3s ease;
    transition: margin .4s ease, opacity .3s ease;
}



#header.sticky-header:not(.static-sticky) #top-search a i {
    color: #000;
}

#header.sticky-header:not(.static-sticky) #top-account {
    margin-top: 12px !important;
    margin-bottom: 13px !important;
}

#header.sticky-header:not(.static-sticky) #top-cart .top-cart-content { top: 40px; }

#header.sticky-header.sticky-style-2 #primary-menu { border-top: 0; }

#header.semi-transparent.sticky-header #header-wrap { background-color: rgba(255,255,255,0.8) }

#header.sticky-header:not(.static-sticky),
#header.sticky-header:not(.static-sticky) #header-wrap,
#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img { height: 60px; }

/* ----------------------------------------------------------------
        Primary Menu
-----------------------------------------------------------------*/


#primary-menu { float: left; }

#primary-menu ul.mobile-primary-menu { display: none; }

#header.full-header #primary-menu > ul {
    float: left;
    padding-right: 15px;
    margin-right: 15px;
    /*border-right: 1px solid #EEE;*/
}

#header.transparent-header.full-header #primary-menu > ul { border-right-color: rgba(0,0,0,0.1); }

#primary-menu-trigger,
#page-submenu-trigger {
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

#primary-menu ul {
    list-style: none;
    margin: 0;
}

#primary-menu > ul { float: left; }

#primary-menu ul li { position: relative; }

#primary-menu ul li.mega-menu { position: inherit; }

#primary-menu ul > li {
    float: left;
    margin-left: 2px;
}

#primary-menu > ul > li:first-child { margin-left: 0; }

#primary-menu ul li > a {
    display: block;
    line-height: 22px;
    padding: 39px 15px;
    color: #444;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: margin .4s ease, padding .4s ease;
    -o-transition: margin .4s ease, padding .4s ease;
    transition: margin .4s ease, padding .4s ease;
}

#primary-menu ul li > a span { display: none; }

#primary-menu ul li > a i {
    position: relative;
    top: -1px;
    font-size: 14px;
    width: 16px;
    text-align: center;
    margin-right: 6px;
    vertical-align: top;
}

#primary-menu ul li > a i.icon-angle-down:last-child {
    font-size: 12px;
    margin: 0 0 0 5px;
}

#primary-menu ul li:hover > a,
#primary-menu ul li.current > a { color: #000; }

#primary-menu > ul > li.sub-menu > a > div { }

body.no-superfish #primary-menu li:hover > ul:not(.mega-menu-column),
body.no-superfish #primary-menu li:hover > .mega-menu-content { display: block; }

#primary-menu ul ul:not(.mega-menu-column),
#primary-menu ul li .mega-menu-content {
    display: none;
    position: absolute;
    width: 220px;
    background-color: transparent;
    box-shadow: 0px 13px 42px 11px rgba(0, 0, 0, 0.05);
    border: 1px solid #d9d9d9;
    border-top: 2px solid #f7931d;
    height: auto;
    z-index: 199;
    top: 100%;
    left: 0;
    margin: 0;
}

#primary-menu ul ul:not(.mega-menu-column) ul {
    top: -2px !important;
    left: 218px;
}

#primary-menu ul ul.menu-pos-invert:not(.mega-menu-column),
#primary-menu ul li .mega-menu-content.menu-pos-invert {
    left: auto;
    right: 0;
}

#primary-menu ul ul:not(.mega-menu-column) ul.menu-pos-invert { right: 218px; }

#primary-menu ul ul li {
    float: none;
    margin: 0;
}

#primary-menu ul ul li:first-child { border-top: 0; }

#primary-menu ul ul li > a {
    font-size: 12px;
    font-weight: 600;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    letter-spacing: 0;
    font-family: 'Lato', sans-serif;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#primary-menu ul ul li > a i { vertical-align: middle; }

#primary-menu ul ul li:hover > a {
    background-color: transparent;
    padding-left: 18px;
    color: #000;
}

#primary-menu ul ul > li.sub-menu > a,
#primary-menu ul ul > li.sub-menu:hover > a {
    background-image: url("../../images/icons/submenu.png");
    background-position: right center;
    background-repeat: no-repeat;
}

.topbar-right {
    color: #000!important;
    height: 60px;
    -webkit-transition: margin .4s ease, opacity .3s ease;
    -o-transition: margin .4s ease, opacity .3s ease;
    transition: margin .4s ease, opacity .3s ease;
}

div.topbar-right {
    float: right;
    display: flex;
    align-items: center;
    -webkit-transition: margin .4s ease, opacity .3s ease;
    -o-transition: margin .4s ease, opacity .3s ease;
    transition: margin .4s ease, opacity .3s ease;
}

div.topbar-right a i {
    margin-right: 25px;
    -webkit-transition: margin .4s ease, opacity .3s ease;
    -o-transition: margin .4s ease, opacity .3s ease;
    transition: margin .4s ease, opacity .3s ease;
}

.hr-content-desx {
    /*	width: 35px;
            border-top: 3px solid #333;*/
    margin: 0px;
    margin-bottom: 15px;
}

.detail-row {
    padding : 0px;
    padding-bottom: 10px;
}

.form-control {border-radius: 5px;}

.form-control:active,
.form-control:focus {
    border-color: #999;
    box-shadow: none;
}

.ribbon {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 20px;
    height: 40px;
}

.visible-md {
    display: flex!important;
}

.visible-lg {
    display: flex!important;
}

@media (max-width: 1200px){
    .visible-md {
        display: none!important;
    }
    .visible-lg {
        display: none!important;
    }
}